<div class="form-group">
    <label>{{@root.i18n 'name'}}</label>
    <div class="form-fields">
        <input type="text" name="name" value="{{name}}" placeholder="{{placeholder}}">
    </div>
</div>
<div class="form-group">
    <label>{{@root.i18n 'folder'}}</label>
    <div class="form-fields">
        <input type="text" name="folder" value="{{folder}}" placeholder="{{folder}}">
        <div class="priority">
            <label>{{@root.i18n 'priority.label'}}</label>
            <input type="number" name="priority" value="{{priority}}" placeholder="0" step="1" {{{@root.i18n.tooltip 'priority.tooltip'}}} />
        </div>
    </div>
</div>
<div class="form-group">
    <label>{{@root.i18n 'tags'}}</label>
    <div class="form-fields">
        <string-tags name="tags" value="{{tags}}"></string-tags>
    </div>
</div>
<prose-mirror name="description" value="{{description}}">
    {{{enrichedDescription}}}
</prose-mirror>