<div class="content" data-tooltip-class="trigger-engine-field-tooltip" data-tooltip-direction="UP">
    <div class="left">
        {{!-- search --}}
        <fieldset>
            <legend>{{@root.i18n 'search.label'}}</legend>
            <extended-text-input name="search"
                placeholder="{{@root.i18n 'search.placeholder'}}"></extended-text-input>
        </fieldset>
        {{!-- tags --}}
        {{#if tags.length}}
        <fieldset>
            <legend>{{@root.i18n 'tags.label'}}</legend>
            <extended-multi-select name="tags">
                {{#each tags as |tag|}}
                <option value="{{tag.value}}">{{tag.label}}</option>
                {{/each}}
            </extended-multi-select>
        </fieldset>
        {{/if}}
        {{#if inClipboard}}
        <fieldset>
            <legend>{{@root.i18n 'clipboard.title'}}</legend>
            <div class="selectable" data-action="paste-nodes">
                {{@root.i18n 'clipboard.paste'}}
            </div>
        </fieldset>
        {{/if}}
        {{> 'section' gates}}
        {{> 'section' variables}}
        {{> 'section' events}}
    </div>
    <div class="right">
        {{> 'section' groups}}
    </div>
</div>

{{#*inline 'section'}}
{{#each this as |group|}}
<fieldset>
    <legend>
        {{#if group.add}}
        <a data-action="{{group.add.action}}" data-tooltip="{{group.add.tooltip}}">
            <i class="fa-solid fa-plus"></i>
            {{group.label}}
        </a>
        {{else}}
        {{group.label}}
        {{/if}}
    </legend>
    <div class="nodes">{{#each group.nodes as |node|}}<div
            class="selectable node" data-action="{{group.action}}" data-tags="{{node.tags}}"
            data-name="{{node.title}}" data-type="{{node.type}}" data-id="{{node.id}}">
            <div class="name">{{node.title}}</div>
        </div>{{/each}}</div>
</fieldset>
{{/each}}
{{/inline}}
