<div class="content">
    <div class="left">
        {{!-- search --}}
        <fieldset>
            <legend>{{@root.i18n 'search.label'}}</legend>
            <extended-text-input name="search"
                placeholder="{{@root.i18n 'search.placeholder'}}"></extended-text-input>
        </fieldset>
        {{!-- tags --}}
        {{#if tags.length}}
        <fieldset>
            <legend>{{@root.i18n 'tags.label'}}</legend>
            <extended-multi-select name="tags">
                {{#each tags as |tag|}}
                <option value="{{tag.value}}">{{tag.label}}</option>
                {{/each}}
            </extended-multi-select>
        </fieldset>
        {{/if}}
        {{#if inClipboard}}
        <fieldset>
            <legend>{{@root.i18n 'clipboard.title'}}</legend>
            <div class="selectable" data-action="paste-nodes">
                {{@root.i18n 'clipboard.paste'}}
            </div>
        </fieldset>
        {{/if}}
        <div class="scroll">
            {{> 'section' events}}
        </div>
    </div>
    <div class="right">
        <div class="scroll">
            {{> 'section' groups}}
        </div>
    </div>
</div>

{{#*inline 'section'}}
{{#each this as |group|}}
<fieldset>
    <legend>{{group.label}}</legend>
    <div class="nodes" data-empty="{{@root.i18n 'empty'}}">{{#each group.nodes as |node|}}<div
            class="selectable node" data-action="select-node" data-tags="{{node.tags}}"
            data-name="{{node.title}}" data-type="{{node.type}}">
            <div class="name">{{node.title}}</div>
        </div>{{/each}}</div>
</fieldset>
{{/each}}
{{/inline}}