<div class="sidebar triggers">
    <div class="header" data-tooltip-direction="DOWN">
        <div class="controls">
            <a data-action="close-window" {{{@root.i18n.tooltip 'close' }}}>
                <i class="fa-solid fa-xmark-large"></i>
            </a>
            <a {{#if updated}}data-action="save-triggers"{{else}}class="disabled"{{/if}} {{{@root.i18n.tooltip 'save'}}}>
                <i class="fa-solid fa-floppy-disk"></i>
            </a>
        </div>
        <div class="controls">
            <a data-action="import-triggers" {{{@root.i18n.tooltip 'import' }}}>
                <i class="fa-solid fa-file-import"></i>
            </a>
            {{#if groups.length}}
            <a data-action="export-triggers" {{{@root.i18n.tooltip 'export' }}}>
                <i class="fa-solid fa-file-export"></i>
            </a>
            {{/if}}
            {{> 'create'}}
        </div>
    </div>
    <extended-text-input name="search" value="{{search}}"
        placeholder="{{@root.i18n 'search.label'}}"></extended-text-input>
    {{#if tags.list.length}}
    <extended-multi-select name="tags" value="{{tags.selected}}" mode="{{tags.mode}}"
        placeholder="{{@root.i18n 'tags.placeholder'}}">
        {{#each tags.list as |tag|}}
        <option value="{{tag.value}}">{{tag.label}}</option>
        {{/each}}
    </extended-multi-select>
    {{/if}}
    <div class="scroll">
        {{#each groups as |group|}}
        {{!-- folder header --}}
        {{#if group.folder}}
        <div class="header sub folder" data-folder="{{group.folder}}">
            <div class="title">
                <a class="label" data-action="toggle-folder">
                    <i class="fa-solid fa-folder{{ifThen group.expanded '-open' ''}} fa-fw"></i>
                    {{localize group.folder}}
                </a>
            </div>
            <div class="controls">
                {{> 'create'}}
            </div>
        </div>
        {{/if}}
        {{!-- triggers --}}
        <div class="list">
            {{#each group.triggers as |trigger|}}
            {{#if (or trigger.updated group.expanded)}}
            <div class="trigger" {{#if trigger.name}}data-name="{{trigger.name}}"{{/if}} data-id="{{trigger.id}}"
                data-locked="{{trigger.locked}}" data-updated="{{trigger.updated}}" data-invalid="{{trigger.invalid}}"
                data-full-id="{{trigger.fullId}}" data-path="{{trigger.path}}" data-tags="{{trigger.tags}}">
                <input
                    type="checkbox"
                    data-action="toggle-enabled"
                    name="enabled"
                    {{#if trigger.invalid}}disabled{{else if (@root.isEnabled trigger)}}checked{{/if}}
                >
                {{#if trigger.invalid}}
                <span class="name" {{{@root.i18n.tooltip 'invalid'}}}>{{trigger.label}}</a>
                {{else}}
                <a class="name" data-action="select-trigger">{{trigger.label}}</a>
                {{/if}}
                {{#if trigger.locked}}
                <i class="fa-solid fa-lock" {{{@root.i18n.tooltip 'locked'}}}></i>
                {{else if trigger.updated}}
                <i class="fa-solid fa-floppy-disk" {{{@root.i18n.tooltip 'updated'}}}></i>
                {{/if}}
                <div class="trigger-description"></div>
            </div>
            {{/if}}
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>


{{#*inline 'create'}}
<a data-action="create-trigger" {{{@root.i18n.tooltip 'create' }}}>
    <i class="fa-solid fa-plus-large"></i>
</a>
{{/inline}}
