<div class="sidebar triggers">
    <div class="header" data-tooltip-direction="DOWN">
        <div class="controls">
            <a data-action="close-window" {{{@root.i18n.tooltip 'close' }}}>
                <i class="fa-solid fa-xmark-large"></i>
            </a>
        </div>
        <div class="controls">
            <a data-action="import-triggers" {{{@root.i18n.tooltip 'import' }}}>
                <i class="fa-solid fa-file-import"></i>
            </a>
            {{#if groups.length}}
            <a data-action="export-triggers" {{{@root.i18n.tooltip 'export' }}}>
                <i class="fa-solid fa-file-export"></i>
            </a>
            {{/if}}
            {{> 'create'}}
        </div>
    </div>
    <extended-text-input name="search" value="{{search}}"
        placeholder="{{@root.i18n 'search.label'}}"></extended-text-input>
    {{#if tags.list.length}}
    <extended-multi-select name="tags" value="{{tags.selected}}" mode="{{tags.mode}}"
        placeholder="{{@root.i18n 'tags.placeholder'}}">
        {{#each tags.list as |tag|}}
        <option value="{{tag.value}}">{{tag.label}}</option>
        {{/each}}
    </extended-multi-select>
    {{/if}}
    <div class="scroll">
        {{#each groups as |group|}}
        {{!-- folder header --}}
        {{#if group.folder}}
        <div class="header sub folder">
            <div class="title">
                <i class="fa-solid fa-folder-open fa-fw"></i>
                <div class="label"> {{localize group.folder}}</div>
            </div>
            <div class="controls">
                {{> 'create' folder=group.folder}}
            </div>
        </div>
        {{/if}}
        {{!-- triggers --}}
        <div class="list">
            {{#each group.triggers as |trigger|}}
            <div class="trigger" {{#if trigger.name}}
                data-name="{{trigger.name}}" {{/if}} data-id={{trigger.id}}
                data-path="{{trigger.path}}" data-tags="{{trigger.tags}}">
                <input type="checkbox" data-action="toggle-enabled" name="enabled" {{checked (@root.isEnabled trigger)}}>
                <a class="name" data-action="select-trigger">{{trigger.label}}</a>
                <div class="trigger-description"></div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>


{{#*inline 'create'}}
<a data-action="create-trigger" {{#if folder}} data-folder="{{folder}}" {{/if}}
    {{{@root.i18n.tooltip 'create' }}}>
    <i class="fa-solid fa-plus-large"></i>
</a>
{{/inline}}
