<div class="sidebar trigger">
    <div class="header" data-tooltip-direction="DOWN">
        <div class="controls">
            {{#if isFree}}
            <a data-action="export-data" {{{@root.i18n.tooltip 'data'}}}>
                <i class="fa-solid fa-file-export"></i>
            </a>
            {{else}}
            <a data-action="back-menu" {{{@root.i18n.tooltip 'back'}}}>
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            {{#unless isLocked}}
            <a data-action="edit-trigger" {{{@root.i18n.tooltip 'edit'}}}>
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            {{/unless}}
            {{/if}}
            <a data-action="copy-path" data-path={{trigger.path}} {{{@root.i18n.tooltip 'copy.label'}}}>
                <i class="fa-solid fa-copy"></i>
            </a>
        </div>
        <div class="controls">
            {{#if hasDescription}}
            <a data-action="toggle-description" {{{@root.i18n.tooltip 'description'}}}>
                <i class="fa-solid fa-square-info"></i>
            </a>
            {{/if}}
            <a data-action="save-triggers" {{{@root.i18n.tooltip 'save'}}}>
                <i class="fa-solid fa-floppy-disk"></i>
            </a>
            <a data-action="collapse-window" {{{@root.i18n.tooltip 'collapse'}}}>
                <i class="fa-solid fa-compress"></i>
            </a>
        </div>
    </div>
    <div class="header sub">
        {{@root.i18n 'events'}}
    </div>
    <div class="scroll">
        <div class="list">
            {{#each events as |event|}}
            <div class="node event" data-node-id="{{event.id}}">
                <a class="name" data-action="select-node">
                    {{#with event.icon as |icon|}}
                    <i class="fa">{{icon}}</i>
                    {{else}}
                    <i class="fa-solid fa-calendar"></i>
                    {{/with}}
                    {{event.label}}
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="header sub">
        {{@root.i18n 'gates.title'}}
    </div>
    <div class="scroll">
        <div class="list">
            {{#each gates as |gate|}}
            <div class="node gate" data-node-id="{{gate.node.id}}"
                data-editable>
                <a class="name" data-action="select-node">
                    <i class="fa-regular fa-outlet"></i>
                    {{gate.node.label}}
                </a>
                {{#if gate.hasEntries}}
                <div class="controls">
                    <a data-action="tab-gate" {{{@root.i18n.tooltip 'gates.tab' }}}>
                        <i class="fa-solid fa-plug"></i>
                    </a>
                </div>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
    <div class="header sub">
        {{@root.i18n 'variables.title'}}
    </div>
    <div class="scroll variables">
        <div class="list">
            {{#each variables as |variable|}}
            <div class="variable" data-node-id="{{variable.nodeId}}" data-id="{{variable.id}}">
                <a class="name" data-action="select-node" style="--variable-color: {{variable.color}};">
                    <svg viewBox="0 0 95 100" xmlns="http://www.w3.org/2000/svg">
                        <g color="var(--variable-color)">
                            {{!-- custom --}}
                            {{#if variable.isCustom}}
                            {{#if variable.isArray}}
                            <rect x="18" width="56" height="56" rx="10" fill="none"
                                stroke="currentColor" y="18" stroke-width="4"></rect>
                            <rect x="26" width="40" height="40" rx="8" fill="none"
                                stroke="currentColor" y="26" stroke-width="4"></rect>
                            {{else}}
                            <rect x="20" width="52" height="52" rx="10" fill="none"
                                stroke="currentColor" y="20" stroke-width="8"></rect>
                            {{/if}}
                            {{!-- regular --}}
                            {{else}}
                            {{#if variable.isArray}}
                            <circle cx="45" cy="50" r="28" stroke-width="4" fill="none"
                                stroke="currentColor"></circle>
                            <circle cx="45" cy="50" r="20" stroke-width="4" fill="none"
                                stroke="currentColor"></circle>
                            {{else}}
                            <circle cx="45" cy="50" r="26" stroke-width="8" fill="none"
                                stroke="currentColor"></circle>
                            {{/if}}
                            {{/if}}
                        </g>
                    </svg>
                    {{variable.label}}
                </a>
                {{#if variable.hasNodes}}
                <div class="controls">
                    <a data-action="tab-variable" {{{@root.i18n.tooltip 'variables.tab' }}}>
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </a>
                </div>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{#unless (and isFree (not trigger.name includeZero=true))}}
<div class="trigger-title">
    {{#if trigger.locked}}
    <i class="fa-solid fa-plug-circle-xmark"></i>
    {{/if}}
    <div class="label">
        {{trigger.label}}
    </div>
</div>
{{/unless}}
<a class="window-collapsed" data-action="expand-window">
    <i class="fa-solid fa-expand"></i>
    {{@root.i18n 'expand'}}
</a>
